.input_field {

    padding-top: 0.5rem;
}

.label {
    padding-top: 0.5rem;
    margin: auto;
}

.model_form{
    display: flex;
    flex-direction: column;
    padding-bottom: 0.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.buttons {
    display: flex;
    flex-direction: row;
}

.button {
    float: right;
    margin-left: 4%;
}

.mobileButton {
    float: right;
    margin-left: 7%;
}

.info {
    margin-top: 2%;
    margin-bottom: 2%;
}