.main{
    font-size: 30px;
    color: black;
}

.table {
    max-height: 10px;
}

.grid {
    margin: auto;
    display: block;
    margin-top: 10%;
}

.card {
    margin: auto;
    display: block;
    margin-top: 10%;
}