.header{
    font-size: 50px;
}

.user {
    margin-right: 5%;
}

.sideBar {
    margin: 3%;
}

.form {
    margin: 2%;
}

.button {
    margin: auto;
    margin-bottom: 3%;
}

.title {
    margin: auto;
}

.buttonRight {
    margin: auto;
    float: right;
    margin-bottom: 3%;
}

.buttonLeft {
    margin: auto;
    float: left;
    margin-bottom: 3%;
}

.buttonSideBar {
    float: left;
}

.grid {
    padding: 2%;
}

.links {
    text-decoration: none;
}