
.form {
    margin: 3%;
}

.selector {
    margin: 2%;
}

.title {
    margin-top: 3%;
    margin-left: 25%;
}

.button {
    margin: 3%;
}

.field {
    margin: auto;
}

.buttonModel {
    margin: 3%;
    margin-left: 35%;
}

.info {
    margin: auto;
}