.searchBar {
    margin: 1%;
}

.buttons {
    display: flex;
    flex-direction: row;
}

.button {
    margin-left: 5%;
}

.cardsForMobile {
    margin: auto;
    display: block;
}

.cardForMobile {
    margin: 3%;
}

.buttonContent {
    float: right;
}