.searchBar {
    margin: 1%;
    width: 100%;
}

.buttons {
    display: flex;
    flex-direction: row;
}

.button {
    margin-left: 5%;
}

.cardsForMobile {
    margin: auto;
    display: block;
}

.cardForMobile {
    margin: 3%;
}

.buttonContent {
    float: right;
}

.buttonRight {
    float: right;
    margin: auto;
    display: block;
}

.buttonLeft {
    float: right;
    margin: auto;
    display: block;
}

.buttons {
    flex-direction: row;
}

.button {
    margin-left: 15%;
}