.input_field {

    padding-top: 0.5rem;
}

.label {
    padding-top: 0.5rem;
}

.model_form{

    display: flex;
    flex-direction: column;
    padding-bottom: 0.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.buttons {
    display: flex;
    flex-direction: row;
}

.button {
    padding-left: 0.5rem;
}