.input_field {

    padding-top: 1.5rem;
}

.label {
    padding-top: 0.5rem;
}

.model_form{

    display: flex;
    flex-direction: column;
    padding-bottom: 1.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}